body {
  font-family: Arial, sans-serif;
  background-color: #f3e5d8;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #64605c;
  line-height: 1.6;
}

.container {
  width: 100%;
  max-width: 800px;
}

.recipe-card {
  background-color: white;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.recipe-image {
  width: 100%;
  border-radius: 10px;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;       
  padding: 0;  
  color: #3a3734;
}


.description {
    line-height: 1.6;
    margin-bottom: 20px;
  }

.prep-time {
  background-color: #fff7fc;
  padding: 30px;
  border-radius: 10px;
  margin: 0;
  height: auto;
}

.ingredients, .instructions {
    padding-bottom: 30px;
    border-bottom: 1px solid #cec9c8;
}

.ingredients, .instructions, .nutrition {
    padding-top: 30px;
}

.prep-time > h2 {
  background-color: #fff7fc;
  color: #9b1a52;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 1.5rem;  /* Adjust as needed */
  font-weight: 700; /* Bold weight */
  line-height: 1.2; /* Slightly tighter line-height */
  
}

.prep-time ul li::marker {
  color: #9b1a52;
}


h2 {
  color: #944a1f;
  padding-bottom: 10px;
  margin-top: 20px; 
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;        
  padding: 0; 
}

ul,
ol {
  margin: 0;
  padding-left: 20px;
}

ul li::marker,
ol li::marker {
  color: #944a1f;
  font-weight: 900;
}

li {
  margin-top: 10px;
  padding-left: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

tr:nth-child(-n+3) {
    border-bottom: 1px solid #cec9c8;
  }

td {
  padding: 8px;
}

td:nth-child(2) {
    font-weight: bold;
    color: #944a1f;
  }
  

.bold {
  font-weight: bold;
  color: #3f3833;
}
